<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>CSDN</title>
    <link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
    <style type="text/css">
    </style>
</head>
<body style="background:url('../static/img/bground.jpg');background-size: 100% 100%">
<!--
    最外层的父容器
-->
<div id="content">
    <!-- 中部的容器 -->
    <div id="box_center">
        <a href="https://www.csdn.net/">
            <img id="img_logo" src="../static/img/title.png" style="height: 140px;"/>
        </a>
        <div id="box_input">
            <form action="http://localhost:5000/index" method="POST">
                <p><input id="input" type="text" name="name" placeholder="请输入博主名字"/></p>
                <p><input id="btn_start" type="submit" value="搜索一下" style="border:none;margin-top: 1px;height: 48px;"/>
                </p>
            </form>
        </div>
    </div>
    <div id="box_next">
        <div class="box_box">
            <a href="http://localhost:5000/show/blogdevteam">
                <div style="text-align: center">
                    <img src="../static/img/1.jpg"/>
                </div>
            </a>
            <p style="text-align: center">CSDN官方博客</p>
        </div>
        <div class="box_box">
            <a href="http://localhost:5000/show/qiguanjiezl">
                <div style="text-align: center">
                    <img src="../static/img/2.jpg"/>
                </div>
            </a>
            <p style="text-align: center">亓官劼</p>
        </div>
        <div class="box_box">
            <a href="http://localhost:5000/show/weixin_44225182">
                <div style="text-align: center">
                    <img src="../static/img/3.jpg"/>
                </div>
            </a>
            <p style="text-align: center">海轰Pro</p>
        </div>
        <div class="box_box">
            <a href="http://localhost:5000/show/zycxnanwang">
                <div style="text-align: center">
                    <img src="../static/img/4.jpg"/>
                </div>
            </a>
            <p style="text-align: center">zycxnanwang</p>
        </div>
        <div class="box_box">
            <a href="http://localhost:5000/show/dreamingzihao">
                <div style="text-align: center">
                    <img src="../static/img/5.jpg"/>
                </div>
            </a>
            <p style="text-align: center">爱做梦的鱼</p>
        </div>
    </div>

    <div id="box_next_next">
        <div class="box_box">
            <a href="http://localhost:5000/show/A757291228">
                <div style="text-align: center">
                    <img src="../static/img/6.jpg"/>
                </div>
            </a>
            <p style="text-align: center">1_bit</p>
        </div>
        <div class="box_box">
            <a href="http://localhost:5000/show/qq_41575507">
                <div style="text-align: center">
                    <img src="../static/img/7.jpg"/>
                </div>
            </a>
            <p style="text-align: center">AC-fun</p>
        </div>
        <div class="box_box">
            <a href="http://localhost:5000/show/qq_36759224">
                <div style="text-align: center">
                    <img src="../static/img/8.jpg"/>
                </div>
            </a>
            <p style="text-align: center">TRHX • 鲍勃</p>
        </div>
        <div class="box_box">
            <a href="http://localhost:5000/show/qq175023117">
                <div style="text-align: center">
                    <img src="../static/img/9.jpg"/>
                </div>
            </a>
            <p style="text-align: center">WXiangQian王先森</p>
        </div>
        <div class="box_box">
            <a href="http://localhost:5000/show/qq21497936">
                <div style="text-align: center">
                    <img src="../static/img/10.jpg"/>
                </div>
            </a>
            <p style="text-align: center">红胖子(AAA红模仿)</p>
        </div>
    </div>
</div>
</body>
</html>
